include ../templates/navbar

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |                 
    title contact log
    |
    link(href='css/main.css', rel='stylesheet')
    |     
    link(href='css/main.dark.css', rel='stylesheet')
  |                 
  body
    +navBar
    |                 
    h2  form successfully submitted
