mixin navBar

  nav
    ul.page-links
      li
        a(href='/main')  Musify
      li
        a(href='/testimonies')  Reviews
      li
        a(href='/contact')  Contact Us
      li
        a(href='/admin/contactlog')  Contact Log
      li
        button#darkmode   ☼ / ☽